<mat-card *ngIf="currentEnrolment">
  <mat-card-title>
    Current Enrolment
  </mat-card-title>
  <mat-card-content>
    <label class="label">Student</label>
    <span class="value">{{ currentEnrolment.student.name + " " + currentEnrolment.student.surname }}</span>
    <label class="label">Class</label>
    <span class="value">{{ currentEnrolment.name }}</span>
    <label class="label">Term </label>
    <span class="value">{{ currentEnrolment.num + " " + currentEnrolment.year }}</span>
    <label class="label">Residence </label>
    <span class="value">
      <div class="display-mode" *ngIf="editable">
        <span class="residence-text">{{ currentEnrolment.residence }}</span>
        <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit" (click)="editable = !editable"
          color="accent"></mat-icon>
      </div>

      <div class="edit-mode" *ngIf="!editable">
        <mat-form-field appearance="fill"> <mat-label>Residence</mat-label>
          <mat-select [value]="currentEnrolment.residence" (selectionChange)="updateResidence($event.value)">
            <mat-option *ngFor="let residence of residences" [value]="residence">
              {{ residence }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </span>

  </mat-card-content>
</mat-card>