<div class="invoice-item">
  <div class="invoice-download" *ngIf="invoice && invoice.bills && invoice.bills.length > 0">
    <button type="button" mat-mini-fab color="primary" class="download-btn"
      (click)="downloadable ? download() : save()">
      <span class="material-icons">{{
        downloadable ? 'download' : 'save'
        }}</span>
    </button>
  </div>
  <div class="school-contact">
    <img src="../../../assets/jhs_logo.jpg" alt="School logo" class="logo" />
    <address class="school-address">
      <span class="address-heading">Junior High School</span>
      <span class="contact-detail">30588 Lundi Drive, Rhodene, Masvingo</span>
      <span class="contact-detail">Phone: +263 392 263 293 / +263 78 223 8026</span>
      <span class="contact-detail">Email:
        <a href="mailto:info@juniorhighschool.ac.zw">info@juniorhighschool.ac.zw</a></span>
      <span class="contact-detail">Website:
        <a href="http://www.juniorhighschool.ac.zw">www.juniorhighschool.ac.zw</a></span>
    </address>
  </div>

  <div class="invoice-title">
    <h1>INVOICE FOR TERM {{ invoice?.enrol?.num }} {{ invoice?.enrol?.year }}</h1>
    <div class="invoice-number">
      <span class="invoice-label">Invoice #:</span>
      <span class="invoice-value">{{ invoice?.invoiceNumber }}</span>
      <span class="invoice-label">Date:</span>
      <span class="invoice-value">{{ invoice?.invoiceDate | date }}</span>
      <span class="invoice-label">Due Date:</span>
      <span class="invoice-value">{{ invoice?.invoiceDueDate | date }}</span>
    </div>
  </div>

  <div class="invoice-summary">
    <div class="bill-to">
      <span class="bill-label title">Bill To</span>
      <span class="bill-label">Name</span>
      <span class="bill-value">{{ invoice?.student?.surname }} {{ invoice?.student?.name }}</span>
      <span class="bill-label">Student No</span>
      <span class="bill-value">{{ invoice?.student?.studentNumber }}</span>
      <span class="bill-label">Class</span>
      <span class="bill-value">{{ invoice?.enrol?.name }}</span>
      <span class="bill-label">Residence</span>
      <span class="bill-value">{{ invoice?.enrol?.residence }}</span>
      <span class="bill-label">Phone</span>
      <span class="bill-value">{{
        invoice?.student?.cell || 'Student has no phone'
        }}</span>
      <span class="bill-label">Email</span>
      <span class="bill-value">{{
        invoice?.student?.email || 'Student has no email'
        }}</span>
    </div>
    <div class="bill-to">
      <span class="summary-label title">Invoice Summary</span>
      <span class="summary-label">Total Bill</span>
      <span class="summary-value">{{
        invoice?.totalBill | currency : 'USD':'symbol':'1.2-2'
        }}</span>
      <span class="summary-label">Amount Paid</span>
      <span class="summary-value">{{
        invoice?.amountPaidOnInvoice | currency : 'USD':'symbol':'1.2-2'
        }}</span>
      <span class="summary-label">Balance Due</span>
      <span class="summary-value">{{
        invoice?.balance | currency : 'USD':'symbol':'1.2-2'
        }}</span>
      <span class="summary-label">Status</span>
      <span class="summary-value status">{{ invoice?.status }}</span>
    </div>
  </div>

  <table class="invoice-table" *ngIf="invoice">
    <thead>
      <tr>
        <th>Fees Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tr *ngIf="invoice && invoice.balanceBfwd && invoice.balanceBfwd.amount">
      <td>Balance as at {{ invoice.balanceBfwd.dateCreated | date }}</td>
      <td>{{ invoice.balanceBfwd.amount | currency }}</td>
    </tr>
    <tr *ngFor="let bill of invoice.bills">
      <td>{{ sharedService.feesNamesToString(bill.fees.name) }}</td>
      <td>{{ bill.fees.amount | currency }}</td>
    </tr>

    <tr *ngIf="invoice.exemption">
      <td>
        Exemption ({{ invoice.exemption.type
        }}<span *ngIf="invoice.exemption.description">: {{ invoice.exemption.description }}</span>)
      </td>
      <td style="color: green">
        -{{ invoice.exemptedAmount | currency }}
      </td>
    </tr>
    <tr>
      <td class="total">Total</td>
      <td class="total">{{ invoice.totalBill | currency }}</td>
    </tr>
  </table>

  <p class="terms">
    <span class="terms-label">Terms and Conditions:</span> Payment is due within
    30 days or before schools open whichever comes first. Please include the
    Student Number on your payment.
  </p>

  <h3>Banking Details</h3>

  <div class="banking-details">
    <span class="banking-label">Account Name</span>
    <span class="banking-value">JUNIOR HIGH SCHOOL</span>
    <span class="banking-label">Bank</span>
    <span class="banking-value">ZB BANK</span>
    <span class="banking-label">Branch</span>
    <span class="banking-value">MASVINGO</span>
    <span class="banking-label">Account Number</span>
    <span class="banking-value">4564 00321642 405</span>
  </div>

  <p class="footer">Thank you for your business!</p>
</div>