.container {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.student-details-container {
  width: 80%;
  max-width: 600px;
  /*padding: 20px;
  */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-areas:
    "resi resi resi"
    "stno idno age"
    "surname name gender"
    "cell email address"
    "doj nil prev";
  gap: 0.3rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.grid-cell {
  padding: 0.4rem;
}

.resi {
  grid-area: resi;
  text-align: center;
}

.stno {
  grid-area: stno;
}

.idno {
  grid-area: idno;
}

.age {
  grid-area: age;
}

.surname {
  grid-area: surname;
}

.name {
  grid-area: name;
}

.gender {
  grid-area: gender;
}

.cell {
  grid-area: cell;
}

.email {
  grid-area: email;
}

.address {
  grid-area: address;
}

.doj {
  grid-area: doj;
}

.prev {
  grid-area: prev;
}

.detail-label {
  font-weight: bold;
  width: 150px;
}

.detail-value {
  flex-grow: 1;
}

.detail-value ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inactive {
  background-color: red;
  color: white;
}
